@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

#global-style {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --yellow: #FFC107;
}

body {
    color: var(--black);
    background: var(--white);
    overflow-x: hidden; /* Garantir que a página permita rolagem no eixo Y e esconda o X se necessário */
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--yellow);
    transition: all 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navigation .logo {
    font-family: 'Handlee', cursive;
    font-size: 1.7rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--black);
}

.navigation .logo:hover {
    color: #1e1c2a;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navigation ul li {
    list-style: none;
}

.navigation ul li a {
    color: var(--black);
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s;
}

.navigation ul li a:hover {
    color: var(--white);
}

.navigation i {
    cursor: pointer;
    font-size: 1.5rem;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--black);
    margin: 5px auto;
    transition: all 0.3s;
}

.home {
    width: 100%;
    min-height: 100vh; /* Alterado de height: 100vh para min-height para permitir rolagem se o conteúdo for maior */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text {
    max-width: 37rem;
}

.home-text .text-h2 {
    font-size: 3rem;
    color: var(--yellow);
    margin-bottom: 1rem;
}

.home-text .text-h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
    color: var(--yellow);
    margin-left: 150px;
}

.home-text p {
    margin-bottom: 4rem;
}

.home-btn {
    padding: 15px 45px;
    background: #45B649;
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
    text-decoration: none;
}

.home-btn:hover {
    opacity: 0.8;
}

.home-img img {
    width: 70%;
    border-radius: 20%;
}

.footer {
    width: 100%;
    background-color: var(--yellow);
    color: var(--black);
    padding: 10px 0;
    text-align: center;
    font-size: 1rem;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    position: absolute;

}
@media (max-width: 768px) {
    .footer {
        position: static; /* Remove o posicionamento absoluto */
        top: auto; /* Remove valores de top */
        left: auto; /* Remove valores de left */
    }
}

@media (max-width: 785px) {
    .navigation {
        padding: 18px 20px;
    }

    .menu {
        display: block;
    }

    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }

    .nav-menu.ativo {
        right: 0;
    }

    .nav-item {
        margin: 16px 0;
    }

    /*main*/
    .home {
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .home .text-h4 {
        font-size: 15px;
    }

    .home .text-h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home p {
        font-size: 15px;
    }

    .home-img {
        width: 125%;
    }
    
}
